[submodule "json11"]
	path = vendor/json11
	url = https://github.com/dropbox/json11.git
    ignore = dirty
[submodule "node.native"]
	path = vendor/node.native
	url = https://github.com/d5/node.native.git
